.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #aaaaaa;
    height: 154vh;
/*    margin-bottom: 100px;*/
    margin-left: -10px;
    margin-right: -10px;
    flex-direction: column;
}

.chartPie{
    padding: 15px;
    weight: 100%;
    height: 60%;
}

.chartPieContainer{
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.chartPieInformation{
    width: 80%;
    height: 30%;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.chartPieInformationRow{
    height: 50%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row
}

.chartPieInformationBox{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.chartPieInformationRow #box1{
    border-right:5px solid grey;
    border-bottom:5px solid grey;
}

.chartPieInformationRow #box2{
    border-bottom:5px solid grey;
}

.chartPieInformationRow #box3{
    border-right:5px solid grey;
}


.boxValue{
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.boxName{
    font-size: 45px;
    color: grey;
}

.chartRadar{
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    height: 50vh;

}






